* {
    font-family: Arial;
}

body {
    margin: 0;
}

.md {
    width: 400px;
    height: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 8px;
}

.rd {
    height: 50px;
    background-color: rgb(158, 230, 137);
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.inpt {
    width: 340px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    padding-left: 20px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 8px;
}

.inpt:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgb(8, 168, 43);
}

.rbtn {
    width: 200px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(8, 168, 35);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    transition-duration: 200ms;
}

.rbtn:hover {
    cursor: pointer;
}

.rbtn:active {
    background-color: rgb(25, 152, 236);
}

.logimg {
    background-image: url(login\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
    /* background-size: cover; */
}

.sp {
    text-decoration: none;
    margin-left: 20px;
    color: rgb(6, 110, 247);
}

.chb {
    margin-left: 20px;
    margin-top: 20px;
}

.chb a {
    text-decoration: none;
}

.inm {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    overflow: hidden;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

ul {
    margin-top: 35px;
    margin-right: 50px;
}

.nav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    padding-left: 600px;
    height: 50px;
}

.nav a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

ul li {
    display: inline;
}

.part1 {
    position: relative;
    top: -20px;
    float: right;
}

.part1 li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
}

.part1 li a:hover {
    background-color: #fff;
    color: #000;
}

.part1 li.active a {
    background-color: #fff;
    color: #000;
}

.card {
    width: 250px;
    height: 300px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 40px;
    display: inline-block;
    box-shadow: 0 0 2px 1px rgb(193, 255, 113);
    transition-duration: 400ms;
}

.card:hover {
    box-shadow: 0 0 20px 10px rgb(193, 255, 113);
}

.card img {
    object-fit: cover;
    /* max-height: max(10rem, 30vh); */
    border-radius: 8px;
    width: 100%;
    height: 80%;
    /* aspect-ratio: 4/4; */
    overflow: hidden;
}

.card h4 {
    text-align: center;
    color: rgb(5, 5, 5);
}

.bcgrund {
    /* background-image: url(backgroun\ home.jpg); */
    background-color: rgb(119, 204, 204);
    background-position: center;
    background-size: cover;
}

.regimg {
    background-image: url(reg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 130vh;
}

.amalfi {
    width: 100%;
    height: 300px;
    background-image: url(amalfi\ 3.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}

.h1 {
    color: rgb(255, 255, 255);
    display: inline;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 40px;
}

.h4 {
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 15px;
}

.par {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 16px;
    padding-left: 40px;
}

.detail {
    font-size: 18px;
    color: rgb(65, 66, 68);
}

.bimg {
    width: 300px;
}

.krabi {
    width: 100%;
    height: 300px;
    background-image: url(krabi\ 5.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}

.kimg {
    width: 400px;
}

.button {
    background-color: rgb(160, 189, 223);
    border: none;
    font-weight: bold;
    border-radius: 3px;
}

.fiordland {
    width: 100%;
    height: 300px;
    background-image: url(fiord\ 1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}

.tuscany {
    width: 100%;
    height: 300px;
    background-image: url(tuscany\ 1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}