<html>
<head>
<link rel="stylesheet" type="text/css" href="feedback.css"/>
<title> feedback</title>
</head>
<body>
<div class="head">
<ul class="part1">
<li><a href="homepage.html">Home</a></li>
<li ><a href="places.html">places</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li class="active"><a href="feedback.html">Feedback</a></li>
<li><a href="Sdg.html">Sdg</a></li>
<li><a href="moreinfo.html">more info</a></li>
<li><a href="signin.html">Sign in</a></li>
</ul>
</div>
<div class="feedbackform">
<h1>Feedback Form</h1>
<form name='feedbackForm' method="POST" action="feedback.php">
<div class="form-item">
 <label> Name</label>
<input type="text" name="name"  id="inputText" placeholder="Enter your Name" >
</div>
<div class="form-item">
 <label> Email</label>
 <input type="email" name="email" id="inputEmail" placeholder="Enter Your Email" >
</div>
<div class="form-item text1">
 <label>Feedback:</label>
<textarea class="inputTextarea" name="feedbk" rows="4" ng-model='feedback' placeholder=" write your Feedback here"></textarea>
</div>
<div class="submitform">
<button type="submit"  ng-click="performValidation()" name='submit'>Submit Feedback</button>
</div>
</form>
</div>
</body>
</html>