.lgbody {
    background-image: url(resources/v2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.plbody {
    background-image: url(resources/istockphoto-471107172-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    /* background: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(254, 255, 16, 1) 21%, rgba(255, 182, 17, 1) 41%, rgba(255, 136, 0, 1) 61%, rgba(255, 128, 0, 1) 81%, rgba(29, 17, 0, 1) 100%); */
}
.black {
    color: black;
}

.white {
    color: white;
}

.lgimg {
    border-radius: 8px;
    box-shadow: 0 0 40px 4px rgb(0, 0, 0)
}

.aboutBtn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(7, 255, 172);
    border-radius: 8px;
}

.a1 {
    background-image: url(resources/siripade.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a2 {
    background-image: url(resources/Horton\ plains.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a3 {
    background-image: url(resources/temple\ sacred\ tooth.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a4 {
    background-image: url(resources/Unawatuna.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a5 {
    background-image: url(resources/yala.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a6 {
    background-image: url(resources/amalfi\ 1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a7 {
    background-image: url(resources/krabi\ 10.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a8 {
    background-image: url(resources/fiord\ 1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a9 {
    background-image: url(resources/tuscany\ 1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a10 {
    background-image: url(resources/bali11.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a11 {
    background-image: url(resources/gala3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a12 {
    background-image: url(resources/osaka.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a13 {
    background-image: url(resources/napa.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a14 {
    background-image: url(resources/great\ ocean\ road.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a15 {
    background-image: url(resources/white\ heaven\ beach.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a16 {
    background-image: url(resources/sw1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a17 {
    background-image: url(resources/st1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a18 {
    background-image: url(resources/grand\ canyon\ park.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a19 {
    background-image: url(resources/met1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a20 {
    background-image: url(resources/cinque.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a21 {
    background-image: url(resources/bora.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a22 {
    background-image: url(resources/Serengeti.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a23 {
    background-image: url(resources/machu.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.a24 {
    background-image: url(resources/v1.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 400px;
}

.courimg1 {
    background-image: url(resources/v2.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 600px;
}

.courimg2 {
    background-image: url(resources/sdg15.7.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 600px;
}

.courimg3 {
    background-image: url(resources/regimg.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 600px;
}

.img1 {
    background-image: url(resources/v2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.marg {
    padding-top: 200px;
    position: absolute;
}

.bgm1 {
    /* background-image: url(resources/v2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px); */
    background: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(254, 255, 16, 1) 21%, rgba(255, 182, 17, 1) 41%, rgba(255, 136, 0, 1) 61%, rgba(255, 128, 0, 1) 81%, rgba(29, 17, 0, 1) 100%);
}

.cd {
    float: left;
    margin: 10px;
}

@media (max-width: 992px) {
    .marg {
        position: relative;
    }
    .section {
        text-align: center;
    }
    .cd {
        margin-left: auto;
        float: none;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.sdgimg {
    background-image: url(resources/sdg15.7.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 80px 4px black;
    width: 100%;
    height: 800px;
}

.glimg {
    box-shadow: 0 0 40px 4px black;
}

.homebg {
    background: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(159, 255, 154, 1) 21%, rgba(242, 247, 26, 1) 47%, rgba(143, 255, 40, 1) 74%, rgba(29, 74, 0, 1) 100%);
}

.fddbg {
    background: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(0, 56, 255, 1) 53%, rgba(0, 249, 255, 1) 100%);
    background-repeat: no-repeat;
}

.first {
    background-image: url("resources/photo-1556525185-fc8a5a7aaa6b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    background-image: url("resources/photo-1543043204-3f4e66dc5c2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.third {
    background-image: url("resources/photo-1496196614460-48988a57fccfghk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth {
    background-image: url("resources/istockphoto-471107172-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fifth {
    background-image: url("resources/Best-Tour-Operators-in-Sri-Lanka-Best-Tourism-Agency-\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inner {
    width: 20%;
    height: 370px;
    margin-top: 15px;
    float: left;
    padding: 8px;
    box-shadow: 0 0 40px 4px rgb(0, 0, 0);
}

.aa {
    transition-duration: 260ms;
}

.aa:hover {
    box-shadow: 0 0 40px 4px rgb(0, 255, 42);
}

.aa:active {
    box-shadow: 0 0 40px 4px rgb(255, 0, 0);
}

.plcard {
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    transition-duration: 200ms;
}

.plcard:hover {
    box-shadow: 0 0 40px 4px rgb(0, 0, 0);
}

.plcard:active {
    box-shadow: 0 0 40px 4px rgb(9, 255, 0);
}
