@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
html{
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.topmiddle h1{
    text-align:center;
    white-space:pre-wrap;
    margin-top: 3%;
    font-weight: 400;
    font-size: 40px;
    color: black;

}
.topmiddle-para p{
    text-align:center;
    white-space:pre-wrap;
    line-height: 1.6em;
    font-weight: 400;
    font-size: 20px;
    color: dimgray;
}
#pic1{
	width: 700px;
	height: 900px;
    background-image: url('HP.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
    margin-left: 5%;
}
#pic2{
	width: 700px;
	height: 900px;
    background-image: url('HP2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42%;
    margin-top: 5%;
}
.middletext{
    line-height: 1.7em;
    padding-top: -20px;


}
